.wrapper {
  display: flex;
  padding: 3rem 0 4rem 0;
  min-height: 550px;
  position: relative;

  &::before {
    content: "";
    background-image: linear-gradient(to left, #0f1011, transparent 90%);
    opacity: 0.9;
  }

  .carousel__item {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    -webkit-transition: opacity 500ms, visibility 0s linear 0.5s;
    -moz-transition: opacity 500ms, visibility 0s linear 0.5s;
    -o-transition-: opacity 500ms, visibility 0s linear 0.5s;
    -ms-transition: opacity 500ms, visibility 0s linear 0.5s;
    transition: opacity 1s, visibility 0s linear 0.5s;
  }

  .carousel__item_visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0.2s;
  }

  ul {
    height: 16rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      padding: 15px 10px;
      width: 35px;
      height: 35px;
    }
  }

  .link_youtube {
    display: flex;
    justify-content: flex-start;
    background-image: url("../../images/youtube_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    // opacity: 0.7;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #f00;
      opacity: 0.9;
      transform: scale(1.5, 1.5);
    }
  }
  .link_email {
    display: flex;
    justify-content: flex-start;
    background-image: url("../../images/email_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // opacity: 0.7;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.5, 1.5);
      opacity: 0.9;
    }
  }

  .link_comment {
    display: flex;
    justify-content: flex-start;
    background-image: url("../../images/free-icon-comment-4575445.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // opacity: 0.7;
    transition: all 0.4s ease-in-out;

    &:hover {
      transform: scale(1.5, 1.5);
      opacity: 0.9;
    }
  }

  .main {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    //  transition: visibility 0.8s ease-in-out;
    // transition: all 0.6s ease;
  }
}

.arrow {
  display: flex;
  position: absolute;
  top: 48%;
  right: 5%;
  justify-content: center;
  z-index: 3;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: none;

  &.arrow:hover {
    opacity: 1;
    transform: translateX(10px);
  }
}
