.main__box {
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  display: flex;
  padding: 1rem 0 4rem 0;
  min-height: 550px;
  position: relative;

  .carousel__item {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    opacity: 0;
    -webkit-transition: opacity 1s, visibility 0s linear 0.5s;
    -moz-transition: opacity 1s, visibility 0s linear 0.5s;
    -o-transition-: opacity 1s, visibility 0s linear 0.5s;
    -ms-transition: opacity 1s, visibility 0s linear 0.5s;
    transition: opacity 3s linear 0s, visibility 3s linear 0s;
    
  }

  .carousel__item_visible {
    opacity: 1;
    visibility: visible;
    //transition: opacity 2s revert 2s, visibility 2s revert 0s;
    //transform-origin: left;
    //transform: translate(-100%, 50%) rotate(45deg) translate(100%, -50%);
  }

  ul {
    height: 16rem;
    margin: 0;
    padding: 0;
    position: absolute;
    //top: 4%;
    top: 30%;
    left: 5%;
    z-index: 2;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    li {
      padding: 15px 10px;
      width: 35px;
      height: 35px;

      a {
        display: flex;
        justify-content: flex-start;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        &:hover {
          transform: scale(1.5, 1.5);
          opacity: 0.9;
        }
      }
    }
  }

  
  .main {
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    //  transition: visibility 0.8s ease-in-out;
    // transition: all 0.6s ease;
  }
}

.arrows {
  display: flex;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: calc(100%/2 - 32px);
  justify-content: space-between;
  
}

.arrow {
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: none;

  &.arrow_right:hover {
    opacity: 1;
    transform: translateX(10px);
  }
  &.arrow_left:hover {
    opacity: 1;
    transform: translateX(-10px);
  }
}

.cardslist__box {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  //display: grid;
 // grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  //gap: 10px;
  

  ul {
    margin: 0 auto 20px;
    width: 100%;
    display: grid;
    //grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    gap: 1px;
    text-align: start;
    padding-inline-start: 0;
    

    li {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 250px;
      //gap: 0;
      padding: 0;
      //background-color: #fff;
      background-color: inherit;
      border-bottom: 1px solid rgba(208, 206, 209, 0.5);
     // -webkit-box-shadow: -14px -16px 32px -2px rgba(34, 60, 80, 0.25) inset;
//-moz-box-shadow: -14px -16px 32px -2px rgba(34, 60, 80, 0.25) inset;
//box-shadow: -14px -16px 32px -2px rgba(34, 60, 80, 0.25) inset;
      //box-shadow: -5px -5px 10px rgba(150, 144, 144, 0.5), 10px 10px 15px rgba(70,70,70,0.12);
     // box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0  0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    }
    .card__image {
      opacity: 1;
      //object-fit: cover;
      object-fit: scale-down;
      height: 100%;
      width: 100%;
    }
    div {
      display: flex;
      flex-direction: column;
      padding: 0 15px;
      justify-content: space-around;
    }
    h2 {
      margin: 15px 0 0;
      line-height: 1.06;

      color: #fff;
    }
    
  }
  .card__text {
      height: 100px;
      background-color: inherit;
      //color: #000;
      color: #fff;
      //white-space: nowrap;
      display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  }

  .link {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: rgb(121, 19, 147);
    text-align: center;
    border: 1px solid rgb(121, 19, 147);
    border-radius: 30px;
    width: 5rem;
    padding: 2px;
    margin-bottom: 10px;
  }
  .link:hover {
    text-decoration: solid;
  }
}

.video {
  display: flex;
  flex-direction: column;
  //align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding: 20px 0 40px;
}

.section__title {
  color: #fff;
  text-align: start;
  width: 100%;
  font-weight: 400;
  margin: 45px auto 50px;
}

.video__iframes {
  //width: 100%;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.video__iframe {
  border: none;
  width: 415px;
  height: 216px;
}

.buttonMore {
  width: 5%;
  height: 20px;
  display: flex;
  align-self: end;
  border: none;
  background-color: transparent;
  background-image: url("../../images/r4444.png");
  background-repeat: no-repeat;
  transition: transform 0.4s ease-in-out;
  
}

.buttonMore:hover{
 // transform: translateX(10px);
}

.buttonLess {
  width: 5%;
  height: 20px;
  display: flex;
  align-self: end;
  border: none;
  background-color: transparent;
  background-image: url("../../images/r4444.png");
  background-repeat: no-repeat;
  transform: scaleX(-1)/*rotate(180deg)*/;
  transform-origin: center;
  transition: transform 0.1s ease-in-out;

}

