.footer {
    display: flex;
    padding: 20px 10px 30px;
    justify-content: space-between;

    .logo {
        width: 130px;
        height: 60px;
    }

}

.footer__copyright {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    margin: 3px 5px;
   
}

.footer__copyrightBox {
    display: flex;
    flex-direction: column;
    justify-content: end;
  
}

.footer__links {
  display: flex;
  justify-content: end;
  color: #fff;
  font-weight: 300;
  width: 25%;
  
  
  ul {
    list-style: none;
    text-align: end;
    margin: 0;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  
}

.link_youtube {
    background-image: url("../../images/youtube_icon.png");
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out,
      background-color 0.4s ease-in-out, border 0.4s ease-in-out;

    &:hover {
      background-color: #f00;
      opacity: 0.9;
      transform: scale(1.5, 1.5);
      border: #000;
    }
  }
  .link_email {
    background-image: url("../../images/email_icon.png");
  }

  .link_comment {
    background-image: url("../../images/free-icon-comment-4575445.png");
  }
